body {
    position: relative;
    font-family: 'Gilroy',"sans-serif";
}

.container {
    max-width: 1198px;
    margin: 0 auto;
}

.descr {
    font-weight: 400;
    font-size: 16px;
    color: #1E1E1E;
}

.title {
    font-weight: 700;
    font-size: 42px;
    color: #1E1E1E;
}

.header {
    padding: 30px 0;
    position: relative;
    z-index: 5;
    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        > a {
            font-weight: 700;
            font-size: 28px;
            color: #fff;
        }
    }
    &__list {
        display: flex;
    }
    &__list-item:not(:last-child) {
        margin-right: 62px;
    }
    &__link {
        font-size: 18px;
        font-weight: 700;
        color: #fff;
    }
    &__shop {
        position: relative;
    }
    &__shop-value {
        position: absolute;
        padding: 3.7px 4.5px;
        background-color:  #E58411;
        border-radius: 50%;
        right: 0;
        color: #fff;
        font-weight: 600;
    }
}

.hero {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    background-image: url('/public/hero/hero-back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 161px;
    min-height: 100vh;
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title {
        font-size: 80px;
        font-weight: 700;
        color: #fff;
        text-align: center;
        margin-bottom: 14px;
    }
    &__descr {
        font-size: 24px;
        color: #fff;
        margin-bottom: 45px;
    }
    &__label {
        display: flex;
        position: relative;
    }
    &__label > input:nth-child(1) {
        border: none;
        min-width: 316px;
        border-radius: 25px;
        padding: 15.5px 8px 15.5px 20px;
    }
    &__label > .submit {
        position: relative;
        display: flex;
        width: 40px;
        height: 40px;
        border: none;
        padding: 11px;
        border-radius: 100%;
        background-color: #E58411;
        right: 46px;
        top: 5px;
    }
}

